{% extends 'base.html' %}
    
    {% block content %} 
    <h1>Liste d'aniversaire</h1>
    <h6>menu</h6>
    <div class="columns">
        <div class="column col-4">
          <div class="btn-group btn-group-block">
            <!-- <a href="" class="btn">+ agé</a> -->
            <!-- <input class="btn" type="submit" class="form-input" name="search" placeholder="..."> -->
            <a href="{{url_for('plus_age')}}"  class="btn">+ agé</a>
            <a href="{{url_for('plus_jeune')}}"  class="btn">+ jeune</a>
            <a  href="{{url_for('a_venir')}}" class="btn">à venir</a>
          </div> 
          
        </div>
        <div class="column col-4"> </div >
        <div class="column col-4">
            <h6>Recherche</h6>
            <form action="{{url_for('home')}}" method="POST">
                <div class="input-group">
                    <span class="input-group-addon">Nom</span>
                    <input type="text" class="form-input" name="search" placeholder="...">
                    <button class="btn btn-primary input-group-btn">valider</button>
                  </div>
            </form>
        </div>
       
    </div >

    <div class="columns">
    <div class="column col-12">
        

        <table class="table table-striped table-hover">
            <thead>
              <tr>
                <th>nom et prenom </th>
                
                <th>date de naissance</th>
                <!-- <th> actions</th> -->
              </tr>
            </thead>
            <tbody>
                {% for line in lines %}
                
                <tr class="">
                    <td>{{ line['names'] }} </td>
                    <td>{{ line['date'] }}</td>
                   
                </tr>
                
                {% endfor %}
              
            </tbody>
          </table>
        </div >
        </div >

        
       
    {% endblock %}
